/*FONT TYPE*/
$fontMaster: 'Poppins', sans-serif;

/*COLOR*/
$colorPrimary: #081A51;
$colorSecondary: #017EFA;
$colorMenuTitle: #CCD2E3;

/*Screen Size Media Query*/
$view-phoneExtraSmall: 340px;
$view-phoneSmall: 375px;
$view-phoneMiddle: 520px;
$view-phoneExtraMiddle: 680px;
$view-phoneLarge: 900px;
$view-tablet: 1020px;